body {
    background-color: #000000;
}

canvas {
    padding: 0;
    padding-top: 50px;
    margin: auto;
    display: block;
    # width below: forces different width than the game
    # width: 600px;
}

